@page
@model Kasim.Core.BrPbsWebApp.Pages.ClientModel
@{
    ViewData["Title"] = "连锁门店列表";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>连锁门店列表</h2>

<div class="row">
    <div class="col-md-3">
        <form asp-action="Client">
            @*<div class="form-group">
            <label asp-for="Vc">连锁ID</label>
            <input type="password" class="form-control" asp-for="Vc" placeholder="请输入连锁ID">
        </div>*@
            <div class="form-group">
                <label asp-for="ClientName">客户名称</label>
                <input type="text" class="form-control" asp-for="ClientName" placeholder="请输入检索名称">
            </div>
            <hr />
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="ToJson"> JSON格式
                </label>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            <button type="button" id="format" class="btn btn-success">Format</button>
        </form>
    </div>
    <div class="col-md-9">
        <form>
            <div class="form-group">
                <label for="PostUrl">Url</label>
                <pre id="PostUrl">@Model.PostUrl</pre>
            </div>
            <div class="form-group">
                <label for="ResponseText">Response</label>
                <pre id="ResponseText">@Model.ResponseText</pre>
            </div>       
        </form>
    </div>
</div>

