@model Kasim.Core.InvoiceWebApp.Models.User
@{
    ViewData["Title"] = "控制台登陆验证";
}

<h2>身份验证</h2>
<div class="row">
    <section>
        <form method="post" asp-controller="Home" asp-action="Login">

            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    用户名:
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.UserName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    密码:
                </div>
                <div class="col-md-8">                    
                    @Html.TextBoxFor(m => m.Password)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 col-md-offset-4">
                    <input type="submit" class="btn-success btn-block" value="Login" />
                </div>
            </div>

        </form>
    </section>
</div>

